<!DOCTYPE html>
<html>
  <head>
    <title>Skpdesk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
        #common_right_navbar {
            margin-left: auto;
        }
    </style>
  </head>

  <body>  
    <nav class="navbar navbar-expand-sm navbar-dark bg-danger text-white"> 
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
              SkpDesk
            </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" id="common_right_navbar">
        <li class="nav-item">
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-warning' %>
        </li>
      </ul>
    </nav>
    <p class="notice devise_alert_id"><%= notice %></p>
    <p class="alert devise_alert_id"><%= alert %></p>

    <%= yield %>
    
  </body>
</html>
